<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>コンビニhub(仮)</title>
  <link rel="stylesheet" href="/stylesheet.css">
</head>

<body>
  <header>
    <div class="header-top">
      <a href="/">
        <h1>コンビニhub</h1>
      </a>
      <a href="/make" class="header-link">
        飯レシピの作成
      </a>
    </div>
    <div class="search-container">
      <input type="text" id="search" placeholder="検索キーワードを入力">
      <button onclick="search()" >検索</button>
    </div>
  </header>



  <main>
    <h1 class="main_title">生成一覧</h1>
    <% products.forEach(product => { %>
      <div class="product">
        <img src="<%= product.image_url %>" alt="<%= product.title %>">
        <h2><%= product.title %></h2>
        <p><%= product.repo %></p>
        <!-- <a href="/products/<%= product.id %>">詳細</a> -->
      </div>
    <% }) %>
  </main>
</body>

</html>